.Main {
  height: 100vh;
  background-image: url(./IDE.svg);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 900px;
}

.Main-Block {
  position: relative;
  width: 80%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.Main-Block h1 {
  font-size: 4em;
}

.Main-Block h2 {
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 10px;
}

.Buttons {
  line-height: 70px;
}

.Buttons a {
  margin-right: 20px;
  background-color: violet;
  padding: 10px 20px;
  border-radius: 5px;
}

.Main code {
  font-size: 1.5em;
}

/* blinking effect */
p {
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 10px;
}
p span.typed-text {
  font-weight: normal;
  color: #fd7418;
}
p span.cursor {
  display: inline-block;
  background-color: rgb(34, 34, 34);
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
